html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}

html{
	height:100%;
	overflow: hidden;
}

@media (min-width: 601px) {
  body {
    background: url('splash.jpg') repeat-x;
  }
}

@media (max-width: 600px) {
  body {      
     background: url('splash-mobile.jpg') repeat-x;
  }
}

body{
	font-family: Helvetica,Arial,sans-serif;	
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	background-image: url('/splash.png');
	background-size: cover;
}

#mapCanvas{
	height:100%;
	z-index:1;
}

#lock{
	position: absolute;
	height: 120px;
	width: 120px;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
	background-image: url('/lock.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 1;
	color: white;
	text-align: center;
	cursor: pointer;
	pointer-events: none;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opactiy 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.unLock {
	background-image: url('/unlock.png') !important;
}

.unLocked {
	background-image: url('/unlocked.png') !important;
}

#lock span {
	display: block;
	position: relative;
	top: 80px;
}

#members {
	font-weight: bold;
	top: 110px !important;
	color: black;
}

.header {
	text-align: center;
	display: none;
	font-size: 16px;
	margin: 0;
	position: absolute;
	padding: .4em 15px;
	overflow: hidden;
	clear: both;
	border: 1px solid #456f9a;
	background: #5e87b0;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px 0 #3e6790;
	top: 0;
	width: 100%;
	z-index: 1;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#6facd5),to(#497bae));
	background-image: -webkit-linear-gradient(#6facd5,#497bae);
	background-image: -moz-linear-gradient(#6facd5,#497bae);
	background-image: -ms-linear-gradient(#6facd5,#497bae);
	background-image: -o-linear-gradient(#6facd5,#497bae);
	background-image: linear-gradient(#6facd5,#497bae);
}

.opaque {
	opacity: 1 !important;
	pointer-events: auto !important;
}

#nameForm {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 400px;
	margin-left: -200px;
	margin-top: -100px;
	background-color: white;
	border-radius: 20px;
	padding: 30px 0px 20px 0px;
	opacity: 0.95;
	box-shadow: 0px 0px 15px black;
}

#textBox {
	font-size: 25px;
	border-radius: 5px;
	padding: 3px;
	padding-left: 10px;
}

#getStarted {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	border-radius: 12px;
	font-size: 30px;
	margin-top: 10px;
	padding: 4px 12px;
	vertical-align: middle;
	width: 280px;
	opacity: 0;
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opactiy .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

#onboarding {
	width: 270px;
	margin-bottom: 20px;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
}

.noClick {
	pointer-events: none !important;
}

#reward {
	z-index: 2;
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
}